h1 {

    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    background-color: blueviolet;
    border: 10 px solid black;
    transform: scaleX(5);
    transform: translate(150px);
    transform: skewX(210deg); 
    transform: skewY(160deg);
}
h1:hover{
    height: 150px;
    width: 150px;
    background-color: brown;
    border-radius: 120%;
    transition: duration 100s;
    text-align: center;

}